joint-clinic-backend/node_modules
joint-clinic-backend/.env
joint-clinic-backend/.env.*
joint-clinic-backend/.env.development
joint-clinic-backend/Structure.txt
joint-clinic-backend/test
joint-clinic-back
