.logout::after {
    content: "";
    height: 40px;
    width: 1.7px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    right: -20px;
    bottom: 50%;
    transform: translateY(50%);
}