.sel:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #ee3124;
    border-radius: 40px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
}