.sel:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #ee3124;
    border-radius: 40px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}