.custom-select {
  position: relative;
  background-image: none !important;
}

/* السهم */
.custom-select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-right: 2px solid #0D294D;
  border-bottom: 2px solid #0D294D;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

/* Page 4 Layout */
.page4 {
  display: flex !important;
  flex-direction: row !important;
}

@media (max-width: 1300px) {
  .page4 {
    flex-direction: column !important;
    padding: 50px 0 !important;
  }

  .page4-text {
    order: 2 !important;
    align-items: center !important;
    text-align: center !important;
  }

  .page4-body {
    order: 1 !important;
  }

  .page4-pagination {
    display: none !important;
  }

  .page4-figure {
    height: 50vh !important;
  }

  .page4-planet {
    display: none !important;
  }
}